# {{ ansible_managed }}
[Unit]
Description=Lego certificate renewal
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile={{ lego_path }}/lego.env
ExecStart=/usr/local/bin/lego \
  --path {{ lego_path }} \
  --email {{ lego_email }} \
  --dns {{ lego_dns_provider }} \
  --accept-tos \
  --domains {{ lego_domain }} \
  renew \
  --renew-hook "systemctl reload nginx && systemctl restart AdGuardHome"
StandardOutput=append:/var/log/lego-renew.log
StandardError=append:/var/log/lego-renew.log
