# {{ ansible_managed }}
[Unit]
Description=Lego certificate renewal
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile={{ lego_path }}/lego.env
{% if proxy_server_url is defined %}
Environment="http_proxy={{ proxy_server_url }}"
Environment="https_proxy={{ proxy_server_url }}"
Environment="HTTP_PROXY={{ proxy_server_url }}"
Environment="HTTPS_PROXY={{ proxy_server_url }}"
{% endif %}
ExecStart=/usr/local/bin/lego \
  --path {{ lego_path }} \
  --email {{ lego_email }} \
  --dns {{ lego_dns_provider }} \
{% for domain in __lego_domains %}
  --domains "{{ domain }}" \
{% endfor %}
  --accept-tos \
  renew \
  --renew-hook /usr/local/bin/lego-renew-hook.sh
StandardOutput=append:/var/log/lego-renew.log
StandardError=append:/var/log/lego-renew.log
