# {{ ansible_managed }}
[Unit]
Description=Lego certificate renewal
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile={{ lego_path }}/lego.env
ExecStart=/usr/local/bin/lego \
  --path {{ lego_path }} \
  --email {{ lego_email }} \
  --dns {{ lego_dns_provider }} \
  --accept-tos \
  renew \
  --renew-hook "chmod 755 {{ lego_path }}/certificates && chmod 644 {{ lego_path }}/certificates/*.crt && {{ lego_renew_hook | default('systemctl reload nginx') }}"
StandardOutput=append:/var/log/lego-renew.log
StandardError=append:/var/log/lego-renew.log
