{% for group in fw_network_groups %}
{% for network in group.networks %}
set firewall group network-group {{ group.name }} network {{ network }}
{% endfor %}
{% endfor %}
{% for group in fw_address_groups %}
{% for address in group.addresses %}
set firewall group address-group {{ group.name }} address {{ address }}
{% endfor %}
{% endfor %}
