#!/bin/vbash
source /opt/vyatta/etc/functions/script-template
configure
delete service ntp
{% for server in ntp_servers %}
set service ntp server {{ server }}
{% endfor %}
{% for client in ntp_allow_clients %}
set service ntp allow-client address {{ client }}
{% endfor %}
commit
exit
