---
- name: Create a new ext4 primary partition
  become: true
  community.general.parted:
    device: /dev/vdb
    number: 1
    state: present
    label: gpt
    fs_type: ext4
    part_type: primary
    part_start: 0%
    part_end: 100%
    resize: false
- name: Import ELRepo repo key
  become: true
  ansible.builtin.rpm_key:
    key: https://www.elrepo.org/RPM-GPG-KEY-v2-elrepo.org
    state: present
- name: Install ELRepo
  become: true
  ansible.builtin.dnf:
    name: https://www.elrepo.org/elrepo-release-10.el10.elrepo.noarch.rpm
    state: present
- name: Install DRBD
  become: true
  ansible.builtin.dnf:
    name:
      - kmod-drbd9x
      - drbd9x-utils
    state: present
- name: Deploy DRBD configuration
  ansible.builtin.template:
    src: drbd1.res.j2
    dest: ~/sample.res
    mode: '0644'
