---
- name: Install Pacemaker
  when: "'pacemaker_qdevice' in group_names"
  become: true
  ansible.builtin.dnf:
    name:
      - corosync-qnetd
      - pcs
    state: present
    enablerepo: highavailability

- name: Set hacluster user password
  when: "'pacemaker_qdevice' in group_names"
  become: true
  ansible.builtin.user:
    name: hacluster
    password: "{{ hacluster_password | password_hash('sha512') }}"
  changed_when: false
