---
- name: Check if swap is enabled
  ansible.builtin.shell: swapon -v
  register: swap_state
  check_mode: false
  failed_when: false
  changed_when: false

- name: Disable swap with command
  when: swap_state.stdout != ""
  become: true
  ansible.builtin.shell: test {{ ansible_check_mode | lower }} = false && swapoff -a
  check_mode: false
  register: disable_swap_cmd
  failed_when: ansible_check_mode == false and disable_swap_cmd.rc != 0

- name: Check if swap is enabled in /etc/fstab
  ansible.builtin.shell: grep -E '^[^#].*\sswap\s' /etc/fstab
  register: swap_state_in_fstab
  check_mode: false
  failed_when: false
  changed_when: false

- name: Comment out swap entry in /etc/fstab
  when: swap_state_in_fstab.stdout != ''
  become: true
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^([^#].*\sswap\s.*)$'
    replace: '# \1'
