---
- name: Check whether firewalld is installed
  ansible.builtin.shell: dnf list installed firewalld
  register: whether_firewalld_is_installed
  check_mode: false
  failed_when: false
  changed_when: false

- name: Stop and disable firewalld
  when: whether_firewalld_is_installed.rc == 0
  become: true
  ansible.builtin.systemd_service:
    name: firewalld
    state: stopped
    enabled: false
    masked: true

# cloud-initによってインストールされている想定だが、念のため
- name: Install nftables
  become: true
  ansible.builtin.dnf:
    name: nftables
    state: present

- name: Start and enable nftables
  become: true
  ansible.builtin.systemd_service:
    name: nftables
    state: started
    enabled: true
    masked: false
