{% set repos = [
  {'id': 'baseos',           'name': 'BaseOS',           'path': 'baseos',           'gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10'},
  {'id': 'appstream',        'name': 'AppStream',        'path': 'appstream',        'gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10'},
  {'id': 'crb',              'name': 'CRB',              'path': 'crb',              'gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10'},
  {'id': 'extras',           'name': 'Extras',           'path': 'extras',           'gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10'},
  {'id': 'highavailability', 'name': 'HighAvailability', 'path': 'highavailability', 'gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10'},
  {'id': 'elrepo',           'name': 'ELRepo',           'path': 'elrepo',           'gpgkey_path': 'keys/RPM-GPG-KEY-v2-elrepo.org'},
  {'id': 'mariadb',          'name': 'MariaDB',          'path': 'mariadb',          'gpgkey_path': 'keys/RPM-GPG-KEY-MariaDB'},
] -%}
{% for repo in repos -%}
[local-{{ repo.id }}]
name=Local Mirror - {{ repo.name }}
{% set urls = dnf_local_mirror_urls | map('regex_replace', '$', '/' + repo.path + '/') | list -%}
baseurl={{ urls | first }}
{% for url in urls[1:] %}    {{ url }}
{% endfor -%}
enabled=1
gpgcheck=1
{% if 'gpgkey' in repo -%}
gpgkey={{ repo.gpgkey }}
{% else -%}
{% set key_urls = dnf_local_mirror_urls | map('regex_replace', '$', '/' + repo.gpgkey_path) | list -%}
gpgkey={{ key_urls | first }}
{% for url in key_urls[1:] %}    {{ url }}
{% endfor -%}
{% endif -%}
module_hotfixes=1

{% endfor %}
