name: Terraform CI
on:
  pull_request:
permissions:
  pull-requests: write
jobs:
  tf_plan:
    name: Plan Terraform
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        env: [prd]
    defaults:
      run:
        working-directory: terraform/${{ matrix.env }}
    steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TERRAFORM_CLOUD_API_TOKEN }}
      - uses: shmokmt/actions-setup-tfcmt@v2
      - name: Terraform Format
        run: terraform fmt -check -recursive
      - name: Terraform Init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate -no-color
      - name: Expose all Terraform variables to environment variables from secrets
        run: curl -fsSL https://raw.githubusercontent.com/GiganticMinecraft/seichi_infra/refs/heads/main/.github/workflows/scripts/expose-all-tf-vars-to-github-env.sh | bash
        env:
          SECRETS_CONTEXT: ${{ toJson(secrets) }}
      - name: Setup Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:gha
      - name: Terraform Plan
        run: tfcmt plan -patch --config "${{ github.workspace }}/.github/tfcmt-config.yaml" -- terraform plan -input=false -no-color -lock-timeout=10m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
